<app-item>

  <ng-template #t>
    
    <div>Some text</div>

  </ng-template>


</app-item>


<!-- {{ 'Hello Everyone!' | reverse }} -->

<!-- {{ 'HELLO' | translate }} -->
 <!-- DATA TIME -->


<!-- <app-item></app-item> -->



<!-- <ul>
  <li *ngFor="let item of [1,2,3,4,5]">
      <div *delay="item * 1000">
          TEXT
      </div>
  </li>
</ul> -->



<!-- <app-child name="John"></app-child>


<h1 colory #c="colory">TESTEST ESTSET</h1> 
<h1 colory #d="colory">TESTEST ESTSET</h1>
<h1 colory>TESTEST ESTSET</h1>


<button (click)="c.changeColor('green')"></button>

<input type="text" (input)="d.changeColor($event.target.value)"> -->